@import "../../styles/variables";
.Navbar {
  padding: 4px;
  width: 80%;
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: 0;
  z-index: 1000;
  margin: 0 auto;
  align-items: center;
  background-color: transparent;
  &_iconsWrapper {
    display: flex;
    flex-direction: row-reverse;
    img {
      max-width: 15px;
      margin: 0 4px;
    }
  }

  &_txtLinksWrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    li {
      padding: 0 7px;
    }
  }
}
