@font-face {
  font-family: "vazir";
  src: url(../public/fonts/Vazir-Light.woff2);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "vazir";
}

* {
  box-sizing: border-box;
}
/* SASS */
/* $swatch_1: #e6d1ba;
$swatch_2: #f2e9e0;
$swatch_3: #984801;
$swatch_4: #5c2514;
$swatch_5: #120c0a;
$swatch_6: #ada59b;
$swatch_7: #945230;
$swatch_8: #b1905e; */
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
